.configBasica_GridPage {
    margin: 25px auto;
    width: 1600px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.401);
}

.config-titulo-importante1 {
    text-align: left;
    color: $myColor;
    margin: 50px;
    padding-top: 30px;
}

.config-titulo-importante4 {
    text-align: left;
    color: rgb(227, 10, 10);
    margin: 10px;
}
