@mixin myflex ($direction, $justify, $alignItems, $alignContent) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: wrap;
    justify-content: $justify;
    align-items: $alignItems;
    align-content: $alignContent;
}

@mixin configImagen {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin mySpecialFont ($style, $weight, $size, $family)  {
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
    font-family: $family;
}