@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@200&family=Asap:ital@1&family=Dancing+Script:wght@700&family=Nunito+Sans:wght@700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

/*VARIABLES GLOBALES*/

$myColor: rgb(223, 255, 251);
$myGrad: linear-gradient(to right, rgb(41, 1, 1), rgb(81, 1, 1), rgb(121, 1, 1), rgb(161, 1, 1));
$myColorContenedor: rgb(192, 67, 56);
$fontTitulo: 'Black Han Sans', sans-serif;
$fontTitulo2: Arial, Helvetica, sans-serif;
