.titulos {
    background-color: $myColorContenedor;
    background-image: url("../recursos/contacto/fondoContacto.jpg");
    @include configImagen;
    min-height: 70vh;
    padding-bottom: 50px;

    .titulo-importante1 {
        // font-size: 80px;
        // font-family: $fontTitulo;
        // font-weight: bold;
        @include mySpecialFont (null, bold, 80px, $fontTitulo);

        // text-align: left;
        // color: $myColor;
        // margin: 50px;
        // padding-top: 30px;
        @extend .config-titulo-importante1;

        padding-left: 100px;
    }

    .titulo-importante5 {
        text-align: left;
        // font-style: normal;
        // font-weight: bold;
        // font-size: 30px;
        // font-family: $fontTitulo2;
        @include mySpecialFont (normal, bold, 30px, $fontTitulo2);

        color: white;
        margin-left: 150px;

        &:hover {
            text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
        }
    }

    .formularioContacto {
        padding: 30px;
        margin-left: 150px;
        border: #cab38534 solid 8px;
        border-radius: 15px;
        background-color: #f3dab527;
        width: 500px;

        // display: flex;
        // flex-direction: column;
        // flex-wrap: wrap;
        // justify-content: baseline;
        // align-items: flex-start;
        // align-content: space-between;
        @include myflex (column, baseline, flex-end, space-between);

        .formularioContacto__dato {
            // display: flex;
            // flex-direction: row;
            // flex-wrap: wrap;
            // justify-content:space-around;
            // align-items:baseline;   
            // align-content: space-around;        
            @include myflex (row, null, center, null);

            .formularioContacto__dato--lblForm {
                text-shadow: 1px 1px 2px black;
                @extend .configTextoForm;

                &:hover {
                    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
                    font-size: 18px;
                }
            }

            .formularioContacto__dato--inputForm {
                @extend .configInputForm;

                &:focus {
                    @extend .focusSombreadoInputForm;
                }
            }

            textarea {
                height: 200px;
            }
        }

        .formularioContacto__opcional textarea {
            background-color: lightsalmon;
        }

        .formularioContacto__opcional input {
            background-color: lightsalmon;
        }

        .formularioContacto__btnEnviar {
            #botonEnviar {
                background-color: rgb(115, 111, 111);
                color: black;
                border: 2px solid black;
                padding: 4px;
                transition: 1s;
                @extend .configTextoForm;

                &:hover {
                    background-color: $mycolorInputForm;
                    color: white;
                    transform: scale(1.09);
                    transition: 1s;
                    border-radius: 15px;
                }
            }
        }
    }
}

/* MEDIA QUERIES */
@media (min-width: 620px) and (max-width: 750px) {
    .titulos {
        .titulo-importante1 {
            font-size: 50px;
            padding-left: 50px;
        }

        .titulo-importante5 {
            font-size: 20px;
            margin-left: 100px;
        }

        .formularioContacto {
            margin-left: 100px;
        }
    }
}

@media (min-width: 444px) and (max-width: 619px) {
    .titulos {
        .titulo-importante1 {
            font-size: 40px;
            padding-left: 10px;
        }

        .titulo-importante5 {
            font-size: 20px;
            margin-left: 30px;
        }

        .formularioContacto {
            width: 400px;
            margin-left: 30px;
        }
    }
}

@media (max-width: 443px) {
    .titulos {
        .titulo-importante1 {
            font-size: 30px;
            padding-left: 1px;
        }

        .titulo-importante5 {
            font-size: 15px;
            margin-left: 5px;
        }

        .formularioContacto {
            width: 280px;
            margin-left: 3px;

            .formularioContacto__dato {
                .formularioContacto__dato--inputForm {
                    width: 200px;
                }
            }
        }
    }
}