.homepage {
    background-color: $myColorContenedor;
    min-height: 70vh;

    .bloque-contenido {
        min-height: 50vh;
        background-image: url("../recursos/inicio/fondo de pelis.jpg");
        @include configImagen;
        background-size: contain;
        display: flex;
        justify-content: center;

        .banner {
            width: 840px;
            height: 640px;
            //background-image: url("../recursos/inicio/portadaCine.jpg");
            background-color: $myColorContenedor;
            @include configImagen;

            .carousel-inner {
                padding-top: 125px;

                .carousel-item {
                    padding-left: 75px;
                    padding-right: 75px;
                    height: 363px;
                    @include configImagen;
                }
            }
        }
    }

    .bloque-mas-info {
        @include myflex (row, space-evenly, center, center);
        min-height: 20vh;

        .textos-varios {
            .titulo-importante1 {
                // font-size: 80px;
                // font-family: $fontTitulo;
                // font-weight: bold;
                @include mySpecialFont (null, bold, 80px, $fontTitulo);

                // text-align: left;
                // color: $myColor;
                // margin: 50px;
                // padding-top: 30px;
                @extend .config-titulo-importante1;

                &:hover {
                    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
                }
            }

            .titulo-importante2 {
                text-align: left;
                // font-size: 60px;
                // font-family: $fontTitulo;
                @include mySpecialFont (null, null, 60px, $fontTitulo);

                text-decoration: underline;
                color: $myColor;
                margin: 50px;

                &:hover {
                    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
                }
            }

            .titulo-importante3 {
                text-align: left;
                // font-style: normal;
                // font-size: 50px;
                // font-family: $fontTitulo2;
                @include mySpecialFont (normal, null, 50px, $fontTitulo2);

                color: rgb(235, 210, 25);
                margin: 50px;

                &:hover {
                    text-shadow: 1px 1px 2px rgb(235, 210, 25), 0 0 1em rgb(235, 210, 25), 0 0 0.2em rgb(235, 210, 25);
                }
            }

            .contenedor-lista-animada {
                display: flex;
                height: 40px;
                color: #fff;
                font-size: 40px;
                line-height: 40px;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                overflow: hidden;
                margin-bottom: 35px;

                .lista-animada {
                    list-style: none;
                    padding-left: 50px;
                    animation: cambiar 10s infinite;
                }
            }
        }

        .imagenes-mas-info {
            padding: 20px;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

/* MEDIA QUERIES*/

@media (min-width: 1200px) and (max-width: 1600px) {
    .homepage {
        .bloque-mas-info {
            .textos-varios {
                .titulo-importante1 {
                    font-size: 70px;
                }

                .titulo-importante2 {
                    font-size: 50px;
                }

                .titulo-importante3 {
                    font-size: 40px;
                }
            }
        }
    }
}

@media (min-width: 840) and (max-width: 1199px) {
    .homepage {
        .bloque-mas-info {
            .textos-varios {
                .titulo-importante1 {
                    font-size: 60px;
                }

                .titulo-importante2 {
                    font-size: 40px;
                }

                .titulo-importante3 {
                    font-size: 30px;
                }
            }
        }
    }
}

@media (min-width: 600px) and (max-width: 839px) {
    .homepage {
        .bloque-contenido {
            .banner {
                height: 540px;
            }
        }

        .bloque-mas-info {
            .textos-varios {
                .titulo-importante1 {
                    font-size: 60px;
                }

                .titulo-importante2 {
                    font-size: 40px;
                }

                .titulo-importante3 {
                    font-size: 30px;
                }
            }
        }
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    .homepage {
        .bloque-contenido {
            .banner {
                height: 440px;

                .carousel-inner {
                    padding-top: 100px;

                    .carousel-item {
                        padding-left: 50px;
                        padding-right: 50px;
                    }
                }
            }
        }

        .bloque-mas-info {
            .textos-varios {
                .titulo-importante1 {
                    font-size: 60px;
                }

                .titulo-importante2 {
                    font-size: 40px;
                }

                .titulo-importante3 {
                    font-size: 30px;
                }

                .contenedor-lista-animada {
                    font-size: 35px;
                }
            }
        }
    }
}

@media (min-width: 386px) and (max-width: 499px) {
    .homepage {
        .bloque-contenido {
            .banner {
                height: 390px;

                .carousel-inner {
                    padding-top: 80px;

                    .carousel-item {
                        padding-left: 35px;
                        padding-right: 35px;
                    }
                }
            }
        }

        .bloque-mas-info {
            .textos-varios {
                .titulo-importante1 {
                    font-size: 50px;
                }

                .titulo-importante2 {
                    font-size: 30px;
                }

                .titulo-importante3 {
                    font-size: 20px;
                }

                .contenedor-lista-animada {
                    font-size: 30px;
                }
            }
        }
    }
}

@media (min-width: 350px) and (max-width: 385px) {
    .homepage {
        .bloque-contenido {
            .banner {
                height: 320px;

                .carousel-inner {
                    padding-top: 50px;

                    .carousel-item {
                        padding-left: 20px;
                        padding-right: 20px;
                    }
                }
            }
        }

        .bloque-mas-info {
            .textos-varios {
                .titulo-importante1 {
                    font-size: 50px;
                }

                .titulo-importante2 {
                    font-size: 30px;
                }

                .titulo-importante3 {
                    font-size: 20px;
                }

                .contenedor-lista-animada {
                    font-size: 25px;
                }
            }
        }
    }
}

@media (min-width: 300px) and (max-width: 349px) {
    .homepage {
        .bloque-contenido {
            .banner {
                height: 240px;

                .carousel-inner {
                    padding-top: 30px;

                    .carousel-item {
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }
            }
        }

        .bloque-mas-info {
            .textos-varios {
                .titulo-importante1 {
                    font-size: 40px;
                }

                .titulo-importante2 {
                    font-size: 30px;
                }

                .titulo-importante3 {
                    font-size: 20px;
                }

                .contenedor-lista-animada {
                    font-size: 20px;

                    .lista-animada {
                        padding-left: 25px;
                    }
                }
            }
        }
    }
}


@media (max-width: 299px) {
    .homepage {
        .bloque-contenido {
            .banner {
                height: 240px;

                .carousel-inner {
                    padding-top: 30px;

                    .carousel-item {
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }
            }
        }

        .bloque-mas-info {
            .textos-varios {
                .titulo-importante1 {
                    font-size: 40px;
                }

                .titulo-importante2 {
                    font-size: 30px;
                }

                .titulo-importante3 {
                    font-size: 20px;
                }

                .contenedor-lista-animada {
                    font-size: 20px;

                    .lista-animada {
                        padding-left: 25px;
                    }
                }
            }

            .imagenes-mas-info {
                max-width: 280px;
            }
        }
    }
}