/*MAIN INDEX*/
.titulos {
    background-image: url("../recursos/inicio/portadaCine.jpg");
    min-height: 70vh;
    height: auto;
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    @include configImagen;

    // display: flex;
    // flex-direction: column;
    // flex-wrap: wrap;
    // justify-content: baseline;
    // align-items: center;
    // align-content: space-between;
    @include myflex (column, baseline, center, space-between);

    // overflow: hidden;
    // position: relative;
    // .img-fondo {
    //     opacity: 0;
    //     position: absolute;
    //     left: 0;
    //     top: 0;
    //     width: 100%;
    //     height: auto;
    // }

    .titulo-importante1 {
        // font-size: 80px;
        // font-family: $fontTitulo;
        // font-weight: bold;
        @include mySpecialFont (null, bold, 80px, $fontTitulo);

        // text-align: left;
        // color: $myColor;
        // margin: 50px;
        // padding-top: 30px;
        @extend .config-titulo-importante1;
    }

    .titulo-importante2 {
        text-align: left;
        // font-size: 60px;
        // font-family: $fontTitulo;
        @include mySpecialFont (null, null, 60px, $fontTitulo);

        text-decoration: underline;
        color: $myColor;
        margin: 50px;
    }

    .titulo-importante3 {
        text-align: left;
        // font-style: normal;
        // font-size: 50px;
        // font-family: $fontTitulo2;
        @include mySpecialFont (normal, null, 50px, $fontTitulo2);

        color: rgb(235, 210, 25);
        margin: 50px;
    }

    .contenedor-lista-animada {
        display: flex;
        // width: 300px;
        height: 40px;
        color: #fff;
        font-size: 40px;
        line-height: 40px;
        // position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        overflow: hidden;

        .lista-animada {
            list-style: none;
            padding-left: 10px;
            animation: cambiar 10s infinite;
        }
    }
}

/* MEDIA QUERIES*/

@media (min-width: 1400px) and (max-width: 1600px) {
    .titulos {
        .titulo-importante1 {
            font-size: 70px;
        }

        .titulo-importante2 {
            font-size: 50px;
        }

        .titulo-importante3 {
            font-size: 40px;
        }
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .titulos {
        .titulo-importante1 {
            font-size: 70px;
        }

        .titulo-importante2 {
            font-size: 50px;
        }

        .titulo-importante3 {
            font-size: 40px;
        }
    }
}

@media (min-width: 600px) and (max-width: 1199px) {
    .titulos {
        .titulo-importante1 {
            font-size: 60px;
        }

        .titulo-importante2 {
            font-size: 40px;
        }

        .titulo-importante3 {
            font-size: 30px;
        }
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    .titulos {
        .titulo-importante1 {
            font-size: 60px;
        }

        .titulo-importante2 {
            font-size: 40px;
        }

        .titulo-importante3 {
            font-size: 30px;
        }

        .contenedor-lista-animada {
            font-size: 35px;
        }
    }
}

@media (min-width: 386px) and (max-width: 499px) {
    .titulos {
        .titulo-importante1 {
            font-size: 50px;
        }

        .titulo-importante2 {
            font-size: 30px;
        }

        .titulo-importante3 {
            font-size: 20px;
        }

        .contenedor-lista-animada {
            font-size: 30px;
        }
    }
}

@media (min-width: 350px) and (max-width: 385px) {
    .titulos {
        .titulo-importante1 {
            font-size: 50px;
        }

        .titulo-importante2 {
            font-size: 30px;
        }

        .titulo-importante3 {
            font-size: 20px;
        }

        .contenedor-lista-animada {
            font-size: 25px;
        }
    }
}

@media (max-width: 349px) {
    .titulos {
        .titulo-importante1 {
            font-size: 40px;
        }

        .titulo-importante2 {
            font-size: 30px;
        }

        .titulo-importante3 {
            font-size: 20px;
        }

        .contenedor-lista-animada {
            font-size: 20px;
        }
    }
}